:host {
  background-color: #4a2c40;
  color: white;
  display: flex;
  flex-direction: row;
  height: 400px;
  padding-top: 60px;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ff9aa2;
  padding-bottom: 25px;
  text-align: left;
}

h2::after{
  content: "";
  color: #ffcecf;
  margin-top: 10px;
  display: flex;
  justify-self: start;
  width: 90px;
  border-bottom: #ff9aa2 4px solid;
  border-radius: 20px;
}

.footer {
  margin-right: 100px;
  margin-left: 40px;
  width: 17%;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #eee;
  font-weight: 350;
}

a:hover {
  color: #ff9aa2;
  padding-left: 5px;
  transition: all 0.3s ease;
}

p {
  padding-bottom: 10px;
  font-weight: 400;
  word-spacing: 3px;
  line-height: 1.4rem;
}

.contactUs {
  display: flex;
  flex-direction: column;
}

.contactUs a {
  padding-bottom: 5px;
}