<app-navbar [enableSearch]="false" [activeRoute]="'recipe'"></app-navbar>
<div class="recipe-container">
  <h1>{{ 'recipe.title' | translate }}</h1>
  
  <app-search-bar
    pageType="recipe"
    [filterOptions]="filterOptions"
    placeholder="nav.search.placeholder"
    (searchChange)="onSearchChange($event)"
    (sortChange)="onSortChange($event)"
    (filterChange)="onFilterChange($event)">
  </app-search-bar>

  <recipe-card
    [search]="searchValue"
    [sortOption]="sortOption"
    [filterOption]="filterOption">
  </recipe-card>
  <br>
  <br>
</div>

<app-footer></app-footer>
