:host{
  --primary: #ff9aa2;
  --secondary: #ffcecf;
  --accent: #c44569;
  --dark: #4a2c40;
  --light: #fff8f8;
  --text: #333;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

.customer {
  background: linear-gradient(to bottom, #fff, #ffcecf);
  width: 100%;
  height: 400px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2{
  /* text-align: center; */
  color: var(--accent);
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 35px;

}

h2::after{
  content: "";
  color: var(--accent);
  margin-top: 10px;
  display: flex;
  justify-self: center;
  width: 90px;
  border-bottom: var(--accent) 4px solid;
  border-radius: 20px;

}

.review{
  text-align: center;
}

.customer a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 550;

}

.customer button{
  background-color: var(--accent);
  padding: 15px 25px;
  border-radius: 30px;
  outline: none;
  border: none;
  transition: var(--transition);
  cursor: pointer;
}

.customer button:hover {
  transform: translateY(-5px);
  background-color: #852a45;
  box-shadow: var(--shadow);
}


