.section-end{
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* background: linear-gradient(to right, rgba(165, 42, 42, 0.336),rgba(165, 42, 42, 0.336), #fff8f800); */
  /* background-color:rgba(165, 42, 42, 0.336); */
  background-color: #ff9aa2;
  padding: 20px;
  border-radius: 20px;
  width: 45%;
  justify-self: center;

}

button{
  cursor: pointer;
}

.location{
  display: grid;
  gap: 10px;
}

h3{
  font-size: 1rem;
  font-weight: 700;
}

.address{
  width: 15%;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #e9868f;
  border: 0px;
  cursor: pointer;
  transition: all .3s ease-in;
}

.address:active,
.address:hover{
  width: 45%;
}

/* ul li{
  list-style: none;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  background-color: #eee8e8;
  width: 20%;
  padding: 10px 0px;
  border-radius: 20px;
  position: fixed;
  top: 75px;
  border: .1px solid #4a2c405b;
}

li button{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px 10px;
  transition: all .3s ease-in;
  color: #4a2c40;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

li button:hover,
.active{
  border-bottom: .2px solid #4a2c40;
  border-radius: 0px;
  color: #c44569;
  font-weight: 700;
} */

.city-menu {
  position: absolute;
  margin-top: 10px;
  background: white;
  list-style: none;
  padding: 10px 0;
  width: 150px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
  transition: 0.25s ease;
  filter: blur(3px);
}

/* لما تنعرض القائمة */
.city-menu.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  filter: blur(0);
}

.city-menu li {
  padding: 10px 16px;
  cursor: pointer;
  transition: 0.2s;
}

.city-menu li:hover {
  background: #f7b9be;
  color: #c44569;
}

.total-price{
  justify-self: end;
}

.total-price>div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div>p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  text-transform:uppercase;
  color: #1b1b1b85;
  justify-self: start;
}

.price{
  justify-self: end;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.checkout{
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 4px;
  background-color: #c44569;
  color: aliceblue;
  border: 0px;
  transition: all .3s ease-in;
}

.checkout:hover{
  transform: scale(1.1);
}



/* display: flex
;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        overflow: hidden; */

/* .continueShopping{
  background-color: transparent;
  border: 0px;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4a2c40;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.backIcon{
  font-size: 1.3rem;
}

.checkout{
  background-color: #4a2c40;
  color: antiquewhite;
  padding: 8px 50px;
  outline: none;
  border: 0px;
  border-radius: 20px;
  display: flex;
  justify-self: center;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
} */

