<div class="section-end">
  <div class="location">
    <h3>Please Confirm Your Location</h3>
    <button class="address"><i class="fa-solid fa-location-dot ">
    </i> </button>
    <div style="display: none;">
      <ul>
        <li><button>Amman</button></li>
        <li><button>Zarqaa</button></li>
        <li><button>Balqa</button></li>
        <li><button>Irbid</button></li>
        <li><button>Mafraq</button></li>
        <li><button>Ajlon</button></li>
        <li><button>Madaba</button></li>
        <li><button>Karak</button></li>
        <li><button>Tafilah</button></li>
        <li><button>Aqaba</button></li>
        <li><button>Jerash</button></li>
        <li><button>Ma'an</button></li>
      </ul>
    </div>
  </div>
  <div class="total-price">
    <div><p> Product </p>
    <span class="price">{{productPrice | currency : 'JD' }}</span></div>
    <div><p> Shipping </p>
    <span class="price">{{shipping | currency :'JD'}}</span></div>
    <div><p> Total </p>
    <span class="price">{{total | currency : 'JD'}}</span></div>
    <button class="checkout"  (click)="checkOut()" > Checkout </button>
  </div>
</div>
<!-- <i class="material-icons contIcon">chevron_right </i> -->

