<div class="section-end">
  <div class="location">
    <h3>Please Confirm Your Location</h3>
    <button class="address" [class.active]="checkCity"
    (click)="toggelMenu()" ><i class="fa-solid fa-location-dot ">
    </i> </button>
    <ul [class.show]="checkCity" class="city-menu">
      @for (city of delivaryCities; track city.city) {
        <li (click)="chooseCity(city)">{{ city.city }}</li>
      }
    </ul>
  </div>
  <div class="total-price">
    <div><p> Product </p>
    <span class="price">{{productPrice | currency : 'JD' }}</span></div>
    <div><p> delivary </p>
    <span class="price">{{delivary | currency :'JD'}}</span></div>
    <div><p> Total </p>
    <span class="price">{{total | currency : 'JD'}}</span></div>
    <button  type="submit" (click)="checkOut()"
    [disabled]="!delivary"
    [ngClass]="{
    'checkout-valid': delivary,
    'checkout-invalid': !delivary}">
    Checkout </button>
  </div>
</div>
<!-- <i class="material-icons contIcon">chevron_right </i> -->

