<div class="nav1">
  <div>
    <img src="" alt="" class="logo">
    <h1 class="logiTitle">Sarah's Bakery</h1>
  </div>
  <ul>
    <li routerLink="home" routerLinkActive="active" ><a>Home</a></li>
    <li routerLink="/shop"><a>Shop</a></li>
    <li routerLink="/recipe"><a>Recipes</a></li>
    <li routerLink="about"><a>About</a></li>
    <li routerLink="contact"><a>Contact Us</a></li>
    <li routerLink="/share"><a>Share Your Recipes</a></li>
  </ul>

  <div class="navIcon">
    <button><a routerLink="cart">Cart</a></button>
    <button><a routerLink="">Fav</a></button>
  </div>
</div>

<div class="nav2">
  <input type="search" placeholder="Search for treats..." class="search">
  <div class="options">
    <select name="option" class="modes">
      <option value="">Theme</option>
      <option value="dark">dark mode</option>
      <option value="light">light mode</option>
    </select>
    <select name="option" class="language">
      <option value="">Language</option>
      <option value=""> عربي</option>
      <option value="">english</option>
    </select>

  </div>
  <!-- <a>logout</a> -->
  <div >
    <img src="" class="user" alt="">
  </div>
</div>

