.container{
  display: grid;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(to bottom, #ffcecf,#fff8f800, #ffcecf);
  /* padding: 100px; */
  padding: 30px 40px;
  border-radius: 20px;
  height: 50vh;
  border: .2px solid #4a2c4073;
}

.back{
  display: flex;
  justify-self: start;
  cursor: pointer;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.back i{
  color: #4a2c40;
  /* border: .6px solid #4a2c40; */
  border-radius: 60px;
  transition: all .3s ease;
}

.back i:hover{
  transform: scale(1.1);
}

h2{
  color: #c44569;
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}

h5{
  justify-self: center;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  color: #4a2c40;
}

input{
  width: 250px;
  padding: 10px 20px;
  outline: none;
  border-radius: 20px;
  border: 2px solid #ffcecf;
  transform: translateY(-2px);
  background-color: #fff8f8;
  color: #4a2c40;
}

input::placeholder{
  color: #c445699f;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

button{
  background-color: transparent;
  border: 0px;
  outline: none;
  font-family: 'Cairo', sans-serif;
  transition: all 0.3s ease;
  font-size: 12px;
}

.submit{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .7px;
  color: #fff8f8;
  background-color: #c4456994;
  font-size: 1rem;
  font-weight: 500;
  padding: 3px 80px;
  border-radius: 40px;
  justify-self: center;
  cursor: not-allowed;
  margin-bottom: 15px;
}
