<div class="footer">
  <h2>{{ 'footer.about' | translate }}</h2>
  <p>{{ 'home.description' | translate }}</p>
</div>

<div class="footer">
  <h2>{{ 'footer.links.title' | translate }}</h2>
  <ul>
    <li><a routerLink="/home">{{ 'nav.home' | translate }}</a></li>
    <li><a routerLink="/shop">{{ 'nav.shop' | translate }}</a></li>
    <li><a routerLink="/recipe">{{ 'nav.recipes' | translate }}</a></li>
    <li><a routerLink="/about">{{ 'nav.about' | translate }}</a></li>
    <li><a routerLink="/share">{{ 'nav.share' | translate }}</a></li>
    <li><a routerLink="/cart">{{ 'nav.cart' | translate }}</a></li>
    <li><a routerLink="/favorites">{{ 'nav.favorites' | translate }}</a></li>
  </ul>
</div>

<div class="footer contactUs">
  <h2>{{ 'footer.contact' | translate }}</h2>
  <a href="tel:0798057662">0798057662</a>
  <a href="mailto:sarahbakery@gmail.com">sarahbakery@gmail.com</a>
  <a href="#" target="_blank">Instagram</a>
  <a href="#" target="_blank">Facebook</a>
</div>
