<!-- <app-navbar [enableSearch]="false" [activeRoute]="'cart'"></app-navbar> -->
<div class="cart-container">
  <div class="title">
    <h1>{{ 'cart.title' | translate }}</h1>
    <h3>{{itemsNumber}}</h3>
  </div>
  <div class="cart-content" [ngClass]="{'none': itemsNumber}">
    <h2>{{ 'cart.empty' | translate }}</h2>
  </div>
  <!-- <a routerLink="/shop" class="continue-shopping">{{ 'cart.continueShopping' | translate }}</a> -->
  <button (click)="incItems()" style="background-color:black;
  padding: 10px; border-radius: 20px;
  margin: 10px 0px; border: 0px; outline :0px; color:beige; cursor:pointer;"
  [ngClass]="{'none': itemsNumber===1}"
  >add item</button>
  <!-- <app-order></app-order> -->
</div>
@if (itemsNumber>=1) {
  <app-order></app-order>
}
<br>
<br>
<app-checkout></app-checkout>
<!-- <app-footer></app-footer> -->
