:host{
  display: block;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg  , #ff9aa2 ,#ffcecf ,#fff);
}
.share-recipe-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.share-recipe-container h1{
  color: #c44569;
}

.share-recipe-container p {
  font-family: cursive;
  color: #4a2c40;
}

.share-recipe-container p::after{
  content: "";
  color: #4a2c40;
  margin-top: 10px;
  display: flex;
  justify-self: center;
  width: 250px;
  border-bottom: #4a2c40 2px solid;
  border-radius: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 20px;
}

form input,
textarea {
  border-radius: 5px;
  border: .3px solid #ff9aa2 ;
  transition: all .3s ease-in-out;
  outline: none;
}

form div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form>div{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px  12px rgba(0, 0, 0, 0.1);
}

form label{
  font-family:serif;
  color: #7e2930;
  font-size: 1.3rem;
  font-weight: 600;
}

::placeholder{
  padding: 7px;
}

#recipeName{
  width: 150px;
  padding: 5px 7px ;
  transition: all .3s ease-in-out;
}

#recipeName:focus{
  padding: 7px 10px;
  width: 170px;
}

.recipe-type div{
  display: flex;
  flex-direction: row;
}

.recipe-type label:hover {
  background-color: rgba(250, 235, 215, 0.699);
  padding: 5px;
  color: #c44569;
  border-radius: 5px;
  cursor: pointer;
}

.recipe-type label:active {
  background-color: rgba(250, 235, 215, 0.699);
  padding: 5px;
  color: #c44569;
  border-radius: 5px;
}

.recipe-type label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ad6c71;
  transition: all .3s ease-in-out;
}

input[type="radio"]{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

textarea{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 7px;
  transition: all .3s ease-in-out;
  height: 7vh;
}

textarea:focus {
  height: 30vh;
}

.submit-img {
  width: 130px;
  height: 25px;
  border: none;
  /* background: url("send.png") no-repeat center/cover; */
  cursor: pointer;
  transition: transform .3s;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: .2px solid #ff9aa2;
}

.submit-img:hover {
  transform: scale(1.1);
}

#email{
  width: 140px;
  padding: 4.5px;
}

#email:focus{
  width: 200px;
  padding: 7px;
}

.done{
  align-items: center;
  padding: 20px;
}

.submit{
  width: 80px;
  padding: 5px;
  justify-self: center;
  border-radius: 7px;
  background-color: #ff9aa2;
  border: 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family:monospace;
  font-size: 1rem;
  font-weight: 600;
  cursor: not-allowed;
}

.submit-valid{
  background-color: #c44569;
  color: #ffcecf;
  cursor: pointer;
}

/* .submit:hover{
  transform: scale(1.1);
} */

.error-sentence,
.error-icon{
  color: red;
  font-size: .9rem;
  animation: error .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.error-box{
  border: 1px solid red !important;
  /* border-bottom: .2px solid red; */

}

input.error-box:focus,
textarea.error-box:focus {
  box-shadow: 0 0 10px rgba(231, 76, 60, 0.8);
  }

@keyframes error {
  0%{
    transform: translateY(-5px);
    opacity: 50%;
  }
  100%{
    transform: translateY(0px);
    opacity: 100%;
  }
}


.focuse{
  background-color: rgba(250, 235, 215, 0.699);
  padding: 5px;
  color: #c44569;
  border-radius: 5px;
}
