.container{
  display: grid;
  justify-content: center;
  background: linear-gradient(to bottom, #ffcecf,#fff8f800, #ffcecf);
  padding: 40px 80px;
  border-radius: 20px;
  height: 80vh;
  border: .2px solid #4a2c4073;
}

.back{
  display: flex;
  justify-content: start;
  cursor: pointer;
  width: 20px;
  height: 20px;
  /* height: 15px; */
}

.back i{
  color: #4a2c40;
  /* border: .6px solid #4a2c40; */
  border-radius: 60px;
  transition: all .3s ease;
}

.back i:hover{
  transform: scale(1.1);
}

h2{
  color: #c44569;
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}

h5{
  justify-self: center;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  color: #4a2c40;
}

.login{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input{
  width: 250px;
  padding: 12.5px 10px;
  outline: none;
  border-radius: 20px;
  border: 2px solid #ffcecf;
  /* border-bottom: 1px solid #c44569; */
  transform: translateY(-2px);
  background-color: #fff8f8;
  transition: border-color 0.3s ease;
  color: #4a2c40;

}

.password{
  /* margin-top: 5px; */
  margin-bottom: 15px;
}

input::placeholder{
  color: #c445699f;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

button{
  background-color: transparent;
  border: 0px;
  outline: none;
  font-family: 'Cairo', sans-serif;
  transition: all 0.3s ease;
  font-size: 12px;
}

.btn{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.btn-primary{
  text-align: center;
  justify-self: center;
  margin-right: 20px;
  font-weight: 500;
}

.btn-primary:hover{
  /* text-shadow: 0px 2px 10px #4a2c40; */
  transform: translateY(-3px);
  cursor: pointer;
}

button[type="submit"] {
  background-color: #c4456994;
  color: #fff8f8;
  padding: 5px 80px;
  border-radius: 40px;
  cursor: not-allowed;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  transition: all 0.3s ease;
  justify-self: center;
}

button[type="submit"].submit-valid {
  background-color: #c44569;          /* أحمر صريح */
  cursor: pointer;                   /* المؤشر يشير لإمكانية الضغط */
}

button[type="submit"].submit-valid:hover {
  font-size: 1.1rem;                 /* تكبير الخط عند المرور */
  background-color: #a63757;         /* درجة أغمق من الأحمر */
}
.switch{
  display: flex;
  justify-content: center;
}

.btn-socundary{
  align-self: center;
  font-weight: 400;
  font-size: .8rem;
  color: #c44569;
  transition: all .3s ease;
  font-family: 'Roboto', sans-serif;
}

.btn-socundary:hover{
  transform: translateY(-2px) scale(1.1);
  cursor: pointer;
  /* font-size: .85rem; */
}

.Create{
  letter-spacing: .6px;
  /* font-weight: 300; */
  font-size: .8rem;
  color: black;
  font-family:'Roboto', sans-serif;
  margin-right: 4px;
}

a{
  text-decoration: none;
}

.error-password,
.error-phone{
  /* border-color: red !important; */
  animation: borderError .3s linear forwards;
}

.success-password,
.success-phone{
  animation: borderSuccess .3s linear forwards;
}

.error-icon {
  color: red;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 5px;
}

.error-sentence{
  margin-top: 5px;
  font-size: 12px;
  color: red;
  transition: all 0.3s ease-in-out;
  animation: error 0.3s ease-in-out forwards;
}

@keyframes error {
  0% { transform: translateY(-2px); opacity: 0.5; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes borderError {
  0% { border-color: transparent; }
  100% { border-color: red; }
}

@keyframes borderSuccess {
  0% { border-color: transparent; }
  100% { border-color: rgb(20, 163, 20); }
}


