<div class="container">
  <button class="back" (click)="close()">
    <i class="fa fa-times "></i> </button>

  <div class="form">
    <h2>Sign In</h2>
    <h5>Welcome back! Please login to continue</h5>
    <form [formGroup]="userData" (ngSubmit)="submit()">
      <div class="phonNumber">
      <input type="tel" id="phone" placeholder="Phone" formControlName="phone"
        [ngClass]="{
          'error-phone': userData.get('phone')?.invalid && userData.get('phone')?.touched,
          'success-phone': userData.get('phone')?.valid && userData.get('phone')?.touched
        }">
      <h4 class="error-sentence" *ngIf="userData.get('phone')?.touched && userData.get('phone')?.hasError('required')">
        Enter your phone number <span class="material-icons error-icon">error</span>
      </h4>
    </div>

    <div class="password">
      <input type="password" id="password" placeholder="Password" formControlName="password"
        [ngClass]="{
          'error-password': userData.get('password')?.invalid && userData.get('password')?.touched,
          'success-password': userData.get('password')?.valid && userData.get('password')?.touched
        }">
      <h4 class="error-sentence" *ngIf="userData.get('password')?.touched && userData.get('password')?.hasError('required')">
        Enter your password <span class="material-icons error-icon">error</span>
      </h4>
    </div>

      <button type="submit" [disabled]="!userData.valid"
      [ngClass]="{'submit-valid': userData.valid}" (click)="login()">
        Sign In
      </button>
  </form>
    <div class="btn" >
      <button class="btn-primary" (click)="forget()" ><a>Forget Your Password? </a></button>
    </div>
    <div class="switch" style="padding-top: 10px;">
      <span class="Create" >Don't have an account?</span>
      <button class="btn-socundary" (click)="switch()" >
        <span style="color: #c44569;" >
        Sign Up  </span></button>
    </div>
  </div>

  <br>
</div>

<!-- <i class="material-icons">person_add</i> -->
