.container{
  display: grid;
  /* grid-template-rows: auto; */
  justify-content: center;
}

h2{
  color: #c44569;
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}

h5{
  justify-self: center;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  color: #4a2c40;
}

.login{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

form{
  justify-items: center;
}

input{
  background-color: transparent;
  padding: 10px;
  width: 250px;
  outline: none;
  border: 0px;
  border-bottom: 1px solid #c44569;
  transform: translateY(-2px);
  color: #4a2c40;
}

.password{
  margin-top: 5px;
  margin-bottom: 15px;
}

input::placeholder{
  color: #c445699f;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

/* .option{
  display: flex;
  justify-content: center;
} */

button{
  background-color: transparent;
  border: 0px;
  outline: none;
  font-family: 'Cairo', sans-serif;
  transition: all 0.3s ease;
  font-size: 12px;
}

.btn{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.btn-primary{
  text-align: center;
  margin-right: 20px;
  font-weight: 500;
}

.btn-primary:hover{
  /* text-shadow: 0px 2px 10px #4a2c40; */
  transform: translateY(-3px);
  cursor: pointer;
}

.submitButton{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .7px;
  cursor: pointer;
  color: #fff8f8;
  background-color: #c44569;
  padding: 3px 100px;
  border-radius: 40px;
  justify-self: center;
  transition: all .3s ease;
}

.submitButton:hover{
  font-size: 1.1rem;
}

.btn-socundary{
  font-weight: 400;
  font-size: .8rem;
  color: #c44569;
  transition: all .3s ease;
  font-family: 'Roboto', sans-serif;
}

.btn-socundary:hover{
  transform: translateY(-2px);
  cursor: pointer;
}

.Create{
  letter-spacing: .6px;
  /* font-weight: 300; */
  font-size: .8rem;
  color: black;
  font-family:'Roboto', sans-serif;
  margin-right: 4px;
}

a{
  text-decoration: none;
}

.error-password,
.error-phone{
  border-bottom: .2px solid red;
}

.success-password,
.success-phone{
  border-bottom: .2px solid green;
}

.error-icon{
  color: red;
  font-size: 20px;
}

.error-sentence{
  color: red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.done-icon{
  color: green;
  font-size: 20px;
}
