<div class="container">
  <br>
  <button class="back" (click)="close()">
    <i class="fa fa-times "></i> </button>

  <div class="form">
    <h2>Sign In</h2>
    <h5>Welcome back! Please login to continue</h5>
    <div class="welcome">
    </div>
    <form [formGroup] = "userData">
      <!-- <div class="inputs"> -->
        <div class="phonNumber">
          <input type="text" id="phone" placeholder="Phone" formControlName = "phone"
          [ngClass]="{'error-phone': userData.get('phone')?.invalid && userData.get('phone')?.touched,
          'success-phone': userData.get('phone')?.valid && userData.get('phone')?.touched}">
          @if (userData.get('phone')?.touched && userData.get('phone')?.getError('required')){
            <h4 class="error-sentence">Enter your phone number
              <span class="material-icons error-icon">error</span></h4>
          }
          <!-- جملة شرطية لرقم الهاتف الخطأ -->
        </div>
        <div class="password">
          <input type="password" id="password" placeholder="Password" formControlName = "password"
          [ngClass]="{'error-password': userData.get('password')?.invalid && userData.get('password')?.touched,
          'success-password': userData.get('password')?.valid && userData.get('password')?.touched}">
          @if (userData.get('password')?.getError('required') && userData.get('password')?.touched) {
            <h4 class="error-sentence" > Enter your password
              <span class="material-icons error-icon">error</span></h4>

          }
          <!-- جملة شرطية لكلمة السر الغلط -->
        </div>
      <div class="submit" type="submit" >
        <button><a class="submitButton" [ngClass]="{'submit-valid': userData.valid}" > Sign In </a></button>
      </div>
    </form>
    <div class="btn" >
      <button class="btn-primary" (click)="forget()" ><a>Forget Your Password? </a></button>
    </div>
    <div class="switch" style="padding-top: 10px;">
      <span class="Create" >Don't have an account?</span>
      <button class="btn-socundary" (click)="switch()" >
        <span style="color: #c44569;" >
        Sign Up  </span></button>
    </div>
  </div>
  <br>
</div>

<!-- <i class="material-icons">person_add</i> -->
