<!-- <i class="fa-solid fa-robot fa-bounce"></i> -->
<!-- <i class="fa-solid fa-question fa-shake"></i> -->
<div class="not-found-container">
  <!-- <h2>Error 404!</h2> -->
  <h2 class="error-text">
  <span>E</span>
  <span>r</span>
  <span>r</span>
  <span>o</span>
  <span>r</span>
  <span>&nbsp;</span>
  <span>4</span>
  <span>0</span>
  <span>4</span>
  <span>!</span>
</h2>
  <h1>{{ 'notFound.title' | translate }}  </h1>
  <p>{{ 'notFound.message' | translate }}</p>
  <i class="fa-solid fa-cloud fa-fade m"></i>
  <i class="fa-solid fa-rocket fa-bounce s"></i>
  <button>
    <a routerLink="/home" class="go-home-btn">{{ 'notFound.goHome' | translate }}</a>
  </button>

</div>
