<div class="not-found-container">

  <!-- Floating donuts -->
  <i class="fa-solid fa-cookie-bite donut d1"></i>
<i class="fa-solid fa-cookie-bite donut d2"></i>
<i class="fa-solid fa-cookie-bite donut d3"></i>

<i class="fa-solid fa-cookie-bite sweet s1"></i>
<i class="fa-solid fa-cake-candles sweet s2"></i>
<i class="fa-solid fa-ice-cream sweet s3"></i>
<i class="fa-solid fa-bread-slice sweet s4"></i>

  <!-- Donut -->
 <div class="rolling-donut-wrapper">
 <i class="bi bi-donut rolling-donut"></i>
</div>

  <!-- 404 -->
  <div class="error-code">
    <span>4</span><span>0</span><span>4</span>
  </div>

  <h1>{{ 'notFound.title' | translate }}</h1>
  <p>{{ 'notFound.message' | translate }}</p>

  <a routerLink="/home" class="go-home-btn">
    <i class="fa-solid fa-cake-candles"></i>
    {{ 'notFound.goHome' | translate }}
  </a>

</div>
