<div class="main">
  <div class="main1">
    <h1>{{ 'home.title' | translate }}</h1>
    <p>{{ 'home.subtitle' | translate }}</p>
    <a routerLink="/shop" class="shop-now">{{ 'home.viewAll' | translate }}</a>
  </div>
  <!-- <section class="main2 mobile-width"> -->
    <!-- <div class="main2">
      <h2> Featured Categories</h2>
    </div> -->
</div>


<div class="secondary-main ">
  <h2> Featured Categories</h2>
  <div class="categories-grid">
    <div class="category-card">
      <img src="/images/recipes/cookies.jpg" alt="" class="category-image">
      <div class="category-content">
        <h3>cookies</h3>
        <button>
          <a class="view">View All</a>
        </button>
      </div>
    </div>
    <div class="category-card">
      <img src="/images/recipes/muffins.jpg" alt="" class="category-image">
      <div class="category-content">
        <h3>muffins</h3>
        <button>
          <a class="view">View All</a>
        </button>
      </div>
    </div>
    <div class="category-card">
      <img src="/images/recipes/crossan.jpg" alt="" class="category-image">
      <div class="category-content">
        <h3>crassan</h3>
        <button>
          <a class="view">View All</a>
        </button>
      </div>
    </div>
  </div>
    </div>
