<div class="footer">
  <h2>About Us</h2>
  <p>Founded in 2010, Sarah's Bakery has been delighting customers with
    artisanal baked goods made from locally-sourced ingredients
    and traditional recipes with a modern twist.</p>
</div>

<div class="footer">
  <h2>Quick Links</h2>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/shop">Shop</a></li>
    <li><a routerLink="/recipe">Recipes</a></li>
    <li><a>About Us</a></li>
    <li><a>Share Your Recipe</a></li>
    <li><a>cart</a></li>
    <li><a>Fav</a></li>
  </ul>
</div>

<div class="footer contactUs">
  <h2>Contact Us</h2>
  <!-- <p>123 Sweet Street, Amman</p> -->
  <a>0798057662</a>
  <a>sarahbakery@gmail.com</a>
  <a>Instagram</a>
  <a>Facebook</a>
</div>
